{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Edit Position Paper' %} | {{ object.name|escape }}{% endblock title %}

{% block main %}
  <div class="section">
    <h2>{% trans 'Edit Your Position Paper.' %} ({{ object.name|escape }})</h2>
    <h3>※ 登録したデータは、将来 http://www.djangoproject.jp/ へ移行される予定です。</h3>
    <div class="user_action">
        <form method="POST">
          <table>
            {{ form }}
          </table>
            <input type="submit" value="{% trans 'Update Position Paper' %}" />
        </form>
    </div>
  </div>
{% endblock %}