{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Invite to Django Event Site.' %}{% endblock title %}

{% block main %}
  <div class="section">
    <h2>{% trans 'Are you sure to invite yourself to Django-Event?' %}</h2>
    <h3>※ 登録したデータは、将来 http://www.djangoproject.jp/ へ移行される予定です。</h3>
    <div class="user_action">
        <form method="POST">
          <fieldset>
            <label for="id_email">{% trans 'Email' %}:</label><br />
            {{ form.email }}<input type="submit" value="{% trans 'Invite me!' %}" />
          </fieldset>
        </form>
    </div>
  </div>
{% endblock %}